.back-to-top{
    position: fixed;
    visibility:hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    background: var(--primary);
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: all 0.4s;
   text-align: center;
    z-index: 1100;
    cursor: pointer;
}
.back-to-top ion-icon{
    position: relative;
    font-size: 1.5rem;
    line-height: 0;
    top: 8px;

}
.back-to-top:hover{
        background: #000;
        color: var(--primary);
}

.back-to-top.active{
    visibility: visible;
    opacity: 1;
}
